@charset "UTF-8";
h1{
    font-size: 45px;
    font-family: "メイリオ";
}

dl {
    width: 990px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

dl dt {
    float: left;
    padding: 1em;
}

dl dd {
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 1em 0 1em 18em;
}

.most {
    color: #f00;
}

input[type="email"] {
    width: 50%;
}

input {
    font-size: 1em;
    padding: 5px;
}

label {
    margin-right: 1em;
}

select {
    font-size: 1em;;
}

textarea {
    width: 30em;
    font-size: 1em;
    padding: 5px;
}

.submit {
    padding: 10px 30px;
    background-color: #533;
    color: #fff;
    font-weight: bold;
}